
#contactContainer {
    color: rgb(90, 88, 88);
}

 .contactHeader {
        width: auto;
        max-width: 300px;
        height: auto;
        margin: 1em auto; 
        overflow: hidden;
        position: relative; 
        display: flex;
        justify-content: center;
        align-items: center;  
    } 

    .contactHeader img {
        width: 50%;
        height: 50%;
        transition: all 0.3s ease-out;
         position: relative; 
        z-index: 2;
    }
    
     .contactHeader:hover img {
        transform: scale(1.1, 1.1);
        z-index: 9;
    }

    .contactContainer {
       width: 90%;
       display: flex;
       margin: auto;
       flex-flow: row wrap;
    }

    #iconImgNotion:hover {
      filter: invert(12%) sepia(28%) saturate(7162%) hue-rotate(357deg) brightness(130%) contrast(83%)
    }

    .form {
      color: #147335;
      font-weight: 700;  
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff3300;
      padding: 30px;
      background-image: url('/images/sA4.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow-y: hidden;
    }

    @media (max-width: 991px) {
      #mediaLinks  {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
     
      }
    } 
    

    









