#nav {
    font-size: 18px;
    color: rgba(0,0,0,.5);
}

#nav a {
    line-height: 20px;
}

#nav a:hover {
   color: #F2A20C;
} 

#nav a:after {
    content: '';
    display: block;
    height: 5px;
    width: 0;
    border-bottom: 3px transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}

#nav a:hover:after {
    width: 100%;
    border-bottom: 3px solid #F2A20C;
}

#brand {
    border-bottom: none;
}

#collaborate {
    background-color: #1B91BF;
    border-radius: 5px;
}

@media (max-width: 994px) {
    #nav a:hover{         
        margin: auto;     
  } 

  #collaborate{         
    margin: auto;
    padding-right: .5rem;
    padding-left: .5rem;
    line-height: 20px; 
}
 }     