.weDoContainer {
    margin: auto;
    margin-top: 10vh;
    width: 80%;
    min-height: 50vh;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weDoTitle {
    color: black;
    margin-bottom: 10vh;
    line-height: 1.15;
    font-size: 3rem;
    text-align: center;
}

.weDoImg {
    border-radius: 50%;
    height: 20vh;
    margin-bottom: 5vh;
    transition: all 0.3s ease 0s, height 0s ease 0s;
    cursor: pointer;

}

.weDoImg:hover {
    transform: scale(1.2);
}

.weDoCardBody {
    padding: 5px; 
    min-height: fit-content;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.weDoCardTitle {
    margin-bottom: 5vh;
    color: black;
}
